{% extends 'base.html' %}
{% block title %}Nova espécie - Pet+{% endblock %}
{% load static %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Início</a></li>
        <li><a href="{% url 'especies' %}">Espécies</a></li>
        <li>Nova espécie</li>
    </ul>
    <h2 class="page-header">Nova espécie</h2>
    <form action="{% url 'especie_new' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Adicionar">
        </div>
    </form>
{% endblock %}