{% extends 'base.html' %}
{% block title %}Home - Pet+{% endblock %}
{% block class_home %} class="active" {% endblock %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-9">
            {% for pet in pets %}
                <div class="card">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="{{ pet.foto.url }}"
                                 style="width: 100%; height: 180px;">
                        </div>
                        <div class="col-sm-9">
                            <br>
                            <p><strong><i class="fa fa-paw"></i> {{ pet.nome }}</strong></p>
                            <p><i class="fa fa-github-alt"></i> {{ pet.raca }}</p>
                            <p><i class="fa fa-map-marker"></i> {{ pet.cidade }} - {{ pet.uf }}</p>
                            <p><i class="fa fa-pencil"></i> {{ pet.descricao|truncatechars:100 }} </p>
                            <a href="{% url 'pet_show' pet.slug %}" class="more-link">Ver mais...</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="card">
                    <p class="alert alert-success text-center">Não há pets precisando de um novo lar e <strong>
                        isso é ótimo!</strong></p>
                </div>
            {% endfor %}
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="{% static 'img/pub.jpg' %}" style="width: 100%; height: 180px">
            </div>
            <div class="card">
                <img src="{% static 'img/pub.jpg' %}" style="width: 100%; height: 180px">
            </div>
        </div>
    </div>
{% endblock %}