{% extends 'base.html' %}
{% block title %}Home - Pet+{% endblock %}
{% block class_home %} class="active" {% endblock %}
{% load static %}

{% block content %}
    <section class="section-content">
        <div class="container-fluid">
            <br>
            <div class="row">
                <div class="col-sm-10">
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="{% static 'img/dog.jpg' %}" style="width: 100%">
                            </div>
                            <div class="col-sm-9">
                                <div class="container">
                                    <br>
                                    <p><strong><i class="fa fa-paw"></i> Nome do pet</strong></p>
                                    <p><i class="fa fa-github-alt"></i> Labrador</p>
                                    <p><i class="fa fa-map-marker"></i> Cacoal/RO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="{% static 'img/pastor-alemao.jpg' %}" style="width: 100%">
                            </div>
                            <div class="col-sm-9">
                                <div class="container">
                                    <br>
                                    <p><strong><i class="fa fa-paw"></i> Nome do pet</strong></p>
                                    <p><i class="fa fa-github-alt"></i> Pastor alemão</p>
                                    <p><i class="fa fa-map-marker"></i> Cacoal/RO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="{% static 'img/cat.jpg' %}" style="width: 100%">
                            </div>
                            <div class="col-sm-9">
                                <div class="container">
                                    <br>
                                    <p><strong><i class="fa fa-paw"></i> Nome do pet</strong></p>
                                    <p><i class="fa fa-github-alt"></i> SRD</p>
                                    <p><i class="fa fa-map-marker"></i> Ji-Paraná/RO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="{% static 'img/dog.jpg' %}" style="width: 100%">
                            </div>
                            <div class="col-sm-9">
                                <div class="container">
                                    <br>
                                    <p><strong><i class="fa fa-paw"></i> Nome do pet</strong></p>
                                    <p><i class="fa fa-github-alt"></i> Labrador</p>
                                    <p><i class="fa fa-map-marker"></i> Porto Velho/RO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="{% static 'img/dog.jpg' %}" style="width: 100%">
                            </div>
                            <div class="col-sm-9">
                                <div class="container">
                                    <br>
                                    <p><strong><i class="fa fa-paw"></i> Nome do pet</strong></p>
                                    <p><i class="fa fa-github-alt"></i> Labrador</p>
                                    <p><i class="fa fa-map-marker"></i> Cacoal/RO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="{% static 'img/pastor-alemao.jpg' %}" style="width: 100%">
                            </div>
                            <div class="col-sm-9">
                                <div class="container">
                                    <br>
                                    <p><strong><i class="fa fa-paw"></i> Nome do pet</strong></p>
                                    <p><i class="fa fa-github-alt"></i> Pastor alemão</p>
                                    <p><i class="fa fa-map-marker"></i> Cacoal/RO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="{% static 'img/cat.jpg' %}" style="width: 100%">
                            </div>
                            <div class="col-sm-9">
                                <div class="container">
                                    <br>
                                    <p><strong><i class="fa fa-paw"></i> Nome do pet</strong></p>
                                    <p><i class="fa fa-github-alt"></i> SRD</p>
                                    <p><i class="fa fa-map-marker"></i> Ji-Paraná/RO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="{% static 'img/dog.jpg' %}" style="width: 100%">
                            </div>
                            <div class="col-sm-9">
                                <div class="container">
                                    <br>
                                    <p><strong><i class="fa fa-paw"></i> Nome do pet</strong></p>
                                    <p><i class="fa fa-github-alt"></i> Labrador</p>
                                    <p><i class="fa fa-map-marker"></i> Porto Velho/RO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="card">
                        <img src="{% static 'img/pub.jpg' %}" style="width: 100%">
                    </div>
                    <div class="card">
                        <img src="{% static 'img/pub.jpg' %}" style="width: 100%">
                    </div>
                    <div class="card">
                        <img src="{% static 'img/pub.jpg' %}" style="width: 100%">
                    </div>
                    <div class="card">
                        <img src="{% static 'img/pub.jpg' %}" style="width: 100%">
                    </div>
                    <div class="card">
                        <img src="{% static 'img/pub.jpg' %}" style="width: 100%">
                    </div>
                    <div class="card">
                        <img src="{% static 'img/pub.jpg' %}" style="width: 100%">
                    </div>
                    <div class="card">
                        <img src="{% static 'img/pub.jpg' %}" style="width: 100%">
                    </div>
                    <div class="card">
                        <img src="{% static 'img/pub.jpg' %}" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}