{% extends 'base.html' %}
{% block title %}Meus Pets - Pet+{% endblock %}
{% block class_pets %} class="active" {% endblock %}
{% load static %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'my_pets' %}">Meus Pets</a></li>
    </ul>

    <h2 class="page-header">Meus pets</h2>
    <p><a href="{% url 'pet_new' %}">
        <span class="fa fa-plus-circle"></span>
        Novo pet</a>
    </p>
    <table class="table table-striped">
        <thead>
        <th>#</th>
        <th>Nome</th>
        <th>Espécie</th>
        <th>Raça</th>
        <th>Status</th>
        <th>Ações</th>
        </thead>
        <tbody>
        {% for pet in pets %}
            <tr>
                <td style="vertical-align: middle">{{ pet.id }}</td>
                <td style="vertical-align: middle">{{ pet.nome }}</td>
                <td style="vertical-align: middle">{{ pet.especie }}</td>
                <td style="vertical-align: middle">{{ pet.raca }}</td>
                <td style="vertical-align: middle">{{ pet.status }}</td>
                <td style="vertical-align: middle">
                    <a href="#" class="btn btn-success" title="Adotar"><span
                            class="fa fa-check-square-o"></span></a>
                    <a href="{% url 'pet_edit' pet.slug %}" class="btn btn-warning" title="Editar"><span
                            class="fa fa-pencil"></span></a>
                    <a href="{% url 'pet_show' pet.slug %}" class="btn btn-primary"
                       title="Visualizar"><span
                            class="fa fa-search"></span></a>
                    <a href="{% url 'pet_question' pet.slug %}" class="btn btn-danger"
                       title="Perguntas"><span
                            class="fa fa-question-circle-o"></span>
                        {% if pet.question_no_answer.count >= 1 %}
                            ({{ pet.question_no_answer.count }})
                        {% endif %}
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6" class="text-center alert-warning">
                    Nenhum pet cadastrado
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}