{% extends 'base.html' %}
{% block title %}Novo Pet - Pet+{% endblock %}
{% block class_new %} class="active" {% endblock %}
{% load static %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Início</a></li>
        <li><a href="{% url 'minha_conta' %}">Minha conta</a></li>
        <li><a href="{% url 'my_pets' %}">Meus Pets</a></li>
        <li>Novo Pet</li>
    </ul>
    <h2 class="page-header">Novo pet</h2>
    <form action="{% url 'pet_new' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Adicionar">
        </div>
    </form>
{% endblock %}