{% extends 'base.html' %}
{% block title %}{{ pet.nome }} - Pet+{% endblock %}
{% load static %}
{% block class_home %} class="active" {% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Adote</a></li>
        <li><a href="{% url 'pet_show' pet.slug %}">{{ pet.nome }}</a></li>
    </ul>
    <div class="card">
        <div class="row">
            <div class="col-sm-2"><br>
                <img src="{{ pet.foto.url }}"
                     style="width: 100%; height: 200px;">
            </div>
            <div class="col-sm-10">
                <h4><strong>{{ pet.nome }}</strong></h4>
                <p><i class="fa fa-pencil"></i> {{ pet.descricao }} </p>
                <p><i class="fa fa-paw"></i> {{ pet.especie }}</p>
                <p><i class="fa fa-github-alt"></i> {{ pet.raca }}</p>
                <p><i class="fa fa-venus-mars"></i> {{ pet.genero }}</p>
                <p><i class="fa fa-birthday-cake"></i> {{ pet.idade }}</p>
                <p><i class="fa fa-map-marker"></i> {{ pet.cidade }} - {{ pet.uf }}</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="row">
            <div class="col-sm-2">
                <img src="{{ pet.user.userprofile.foto.url }}"
                     style="width: 100%; height: 180px;">
            </div>
            <div class="col-sm-10">
                <h4><strong>Responsável</strong></h4>
                <p><i class="fa fa-user"></i> {{ pet.user.first_name }} {{ pet.user.last_name }}</p>
                <p><i class="fa fa-envelope"></i> {{ pet.user.email }}</p>
                <p><i class="fa fa-map-marker"></i> {{ pet.cidade }} - {{ pet.uf }}</p>
            </div>
        </div>
    </div>

    <!--PERGUNTAS-->
    <div class="card">
        <section class="section-questions-pet">
            <div class="container-fluid">
                <h4><strong>Perguntas</strong></h4>
                <section class="section-questions-pet-content">
                    <form class="questions-form" action="{% url 'pet_new_question' pet.slug %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-info">Perguntar</button>
                    </form>

                    <ul class="ml-questions-list">
                        {% for q in questions %}
                            <li>
                                <article class="ml-questions-list-question">
                                    <p><i class="fa fa-comment"></i> {{ q.question }}</p>
                                </article>
                                <article class="ml-questions-list-answer">
                                    {% for a in q.get_answers %}
                                        <p><i class="fa fa-comments"></i> {{ a.answer }}</p>
                                    {% endfor %}
                                </article>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </section>
    </div>
{% endblock %}