{% extends 'base.html' %}
{% block title %}Raças - Pet+{% endblock %}
{% load static %}

{% block content %}
     <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Início</a></li>
        <li>Raças</li>
    </ul>
    <h2 class="page-header">Raças de animais</h2>
    <p><a href="{% url 'raca_new' %}" class="btn btn-primary">
        <span class="fa fa-plus-circle"></span>
        Adicionar raça</a>
    </p>
    <table class="table table-striped">
        <thead>
        <th>#</th>
        <th>Raça</th>
        <th>Espécie</th>
        <th>Ações</th>
        </thead>
        <tbody>
        {% for raca in racas %}
            <tr>
                <td style="vertical-align: middle">{{ raca.id }}</td>
                <td style="vertical-align: middle">{{ raca.descricao }}</td>
                <td style="vertical-align: middle">{{ raca.especie }}</td>
                <td style="vertical-align: middle">
                    <a href="{% url 'raca_edit' raca.id %}" class="btn btn-warning" title="Editar"><span
                            class="fa fa-edit"></span></a>
                    {#                            <a href="{% url 'especie_delete' especie.slug %}" class="btn btn-danger"#}
                    {#                               title="Excluir"><span#}
                    {#                                    class="fa fa-close"></span></a>#}
                    {#                            <a href="{% url 'pet_question' pet.slug %}" class="btn btn-danger"#}
                    {#                               title="Perguntas"><span#}
                    {#                                    class="fa fa-question-circle-o"></span>#}
                    {#                                {% if product.question_no_answer.count >= 1 %}#}
                    {#                                    ({{ product.question_no_answer.count }})#}
                    {#                                {% endif %}#}
                    {#                            </a>#}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="4" class="text-center alert-warning">
                    Nenhuma raça cadastrada
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}