{% extends 'base.html' %}
{% block title %}Sobre - Pet+{% endblock %}
{% block class_sobre %} class="active" {% endblock %}

{% block content %}
    <h2 class="page-header">Pet+ Seu novo portal de doação de Pet’s.</h2>
    <p>
        Plataforma Social Web destinada ao relacionamento entre quem quer doar um animalzinho e quem quer receber,
        cuidar e dar amor ao um novo companheiro. O portal permitirá o cadastro de demanda por animais, bem como aquele
        que tiver um animal e queira doar, disponibilizar imagem, dados e situação do Pet.</p>
    <p>O sistema será totalmente gratuito para o doador e para quem queira receber o animal, totalmente público o
        sistema está em desenvolvimento
        em linguagem Python e uso do framework Django.</p>
{% endblock %}