.navbar-default {
    border: none;
}

.navbar-default.navbar-pet {
    margin-bottom: 0px;
}

.navbar-brand-pet {
    padding: 5px 0;
}

.navbar-brand-pet img {
    margin-top: 2px;
    margin-left: 15px;
}

body {margin:0;}

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 18px;
}

.icon-bar a:hover {
    background-color: #000;
    text-decoration: none
}

.active {
    background-color: #4CAF50 !important;
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.modal-header, .close {
    background-color: #195128;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container:before, .container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

.section-content {
    height: 100%;
}

.footer-pet {
    background-color: #f7f7f7;
    border-top: 1px solid #eee;
    line-height: 1;
    margin-top: 60px;
    padding: 25px 0 15px 0;
}

.footer-pet p {
    font-size: 0.9em;
    color: #999;
    text-align: center;
}

h2 {
    /*font-size: 24px;*/
    text-transform: uppercase;
    /*color: #303030;*/
    /*font-weight: 600;*/
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
}

p {
    text-align: justify;
}

.p {
    text-align: justify;
    text-indent: 25px;
}